<mat-toolbar color="primary">Administration</mat-toolbar>

<a routerLink="/">front</a>
<mat-tab-group>
    <mat-tab label="Connexion">
        <app-login *ngIf="!toggleRegisterLogin"></app-login>
    </mat-tab>
    <mat-tab label="Inscription" *ngIf="!(authService.user$ | async)">
        <app-register-user></app-register-user>
    </mat-tab>
    <mat-tab label="Citation">
        <app-create-quote (create)="onQuoteCreated($event)" (update) = "onQuoteUpdated($event)"></app-create-quote>
        <app-backend-quotes></app-backend-quotes>
    </mat-tab>
    <mat-tab label="Contact">
        <h3>Téléphone:</h3>
        <div>06 06 06 06 06</div>
    </mat-tab>
</mat-tab-group>
